<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 <servlet>
 	<servlet-name>abc</servlet-name>
 	<servlet-class>com.socialtech.ArithmeticServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>abc</servlet-name>
 	<url-pattern>/arith</url-pattern>
 </servlet-mapping>
  <servlet>
 	<servlet-name>add</servlet-name>
 	<servlet-class>com.socialtech.Addservlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>add</servlet-name>
 	<url-pattern>/add</url-pattern>
 </servlet-mapping>
 <servlet>
 	<servlet-name>multiply</servlet-name>
 	<servlet-class>com.socialtech.MultiplyServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>multiply</servlet-name>
 	<url-pattern>/multiply</url-pattern>
 </servlet-mapping>
 <servlet>
 	<servlet-name>modulus</servlet-name>
 	<servlet-class>com.socialtech.ModulusServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>modulus</servlet-name>
 	<url-pattern>/modulus</url-pattern>
 </servlet-mapping>
 <servlet>
 	<servlet-name>division</servlet-name>
 	<servlet-class>com.socialtech.DivisionServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>division</servlet-name>
 	<url-pattern>/division</url-pattern>
 </servlet-mapping>
 <servlet>
 	<servlet-name>subtraction</servlet-name>
 	<servlet-class>com.socialtech.SubtractionServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>subtraction</servlet-name>
 	<url-pattern>/subtract</url-pattern>
 </servlet-mapping>
</web-app>